<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style_features.css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <div class="container header-bgi">
            <nav class="navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand " href="/">Max Kuznetsov</a>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/features">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/ourMission">Our mission</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/roadmap">Roadmap</a>
                    </li>
                  
                </ul>
              </div>
            </nav>
          </div>
        </header>

        <div class="first-features">
            <div class="container">
              <div class="row">
                   <div class="col-lg-12">
                    <h1 class="features-title">First Features</h1>
                   </div>
                <div class="col-lg-7 main-local">
                       <p class="features-content">In eget turpis auctor, scelerisque sapien at, fringilla dolor. Quisque non nibh dignissim, bibendum leo ac, ullamcorper sem. Etiam vulputate fermentum dolor id consectetur. Nullam vitae tincidunt justo, vel ultrices nulla. Donec commodo lectus id enim gravida, id blandit enim consequat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ac massa pulvinar, dapibus nisi interdum, iaculis velit. Donec porta ullamcorper tincidunt. Nulla facilisi. Proin vel diam ut risus condimentum sodales. Mauris ut placerat nisl. Sed consequat venenatis orci eu volutpat. Vestibulum sodales vitae nibh ac feugiat. Suspendisse urna purus, facilisis et nisl et, euismod ultrices nulla. </p>
                      </div>
                      <div class="col-lg-4 offset-lg-1">
                          <div class="card first-features-card" style="width: 18rem;">
                        <img src="../static/img/first-features.jpg" class="card-img-top" alt="First-features">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">1.Some quick</p>
                          <p class="card-text">2.example text</p>
                          <p class="card-text">3.to build on the</p>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>


                <div class="second-features">
                    <div class="container">
                      <div class="row">
                           <div class="col-lg-12">
                            <h1 class="features-title">Second Features</h1>
                           </div>
                           <div class="col-lg-4">
                            <div class="card first-features-card" style="width: 18rem;">
                          <img src="../static/img/second-features.jpg" class="card-img-top" alt="First-features">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">1.Some quick</p>
                            <p class="card-text">2.example text</p>
                            <p class="card-text">3.to build on the</p>
                          </div>
                        </div>
                      </div>

                        <div class="col-lg-8 main-local">
                               <p class="features-content">In eget turpis auctor, scelerisque sapien at, fringilla dolor. Quisque non nibh dignissim, bibendum leo ac, ullamcorper sem. Etiam vulputate fermentum dolor id consectetur. Nullam vitae tincidunt justo, vel ultrices nulla. Donec commodo lectus id enim gravida, id blandit enim consequat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ac massa pulvinar, dapibus nisi interdum, iaculis velit. Donec porta ullamcorper tincidunt. Nulla facilisi. Proin vel diam ut risus condimentum sodales. Mauris ut placerat nisl. Sed consequat venenatis orci eu volutpat. Vestibulum sodales vitae nibh ac feugiat. Suspendisse urna purus, facilisis et nisl et, euismod ultrices nulla. </p>
                              </div>
                            
                             
                            </div>
                          </div>
                        </div>
        
                        <div class="third-features">
                            <div class="container">
                              <div class="row">
                                   <div class="col-lg-12">
                                    <h1 class="features-title">Third Features</h1>
                                   </div>
                                <div class="col-lg-7 main-local">
                                       <p class="features-content">In eget turpis auctor, scelerisque sapien at, fringilla dolor. Quisque non nibh dignissim, bibendum leo ac, ullamcorper sem. Etiam vulputate fermentum dolor id consectetur. Nullam vitae tincidunt justo, vel ultrices nulla. Donec commodo lectus id enim gravida, id blandit enim consequat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ac massa pulvinar, dapibus nisi interdum, iaculis velit. Donec porta ullamcorper tincidunt. Nulla facilisi. Proin vel diam ut risus condimentum sodales. Mauris ut placerat nisl. Sed consequat venenatis orci eu volutpat. Vestibulum sodales vitae nibh ac feugiat. Suspendisse urna purus, facilisis et nisl et, euismod ultrices nulla. </p>
                                      </div>
                                      <div class="col-lg-4 offset-lg-1">
                                          <div class="card first-features-card" style="width: 18rem;">
                                        <img src="../static/img/third-features.jpg" class="card-img-top" alt="First-features">
                                        <div class="card-body">
                                          <h5 class="card-title">Card title</h5>
                                          <p class="card-text">1.Some quick</p>
                                          <p class="card-text">2.example text</p>
                                          <p class="card-text">3.to build on the</p>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                  </div>
                                </div>

          
                                <footer>
                                    <div class="container footer-bg">
                                      <div class="row">
                                        <div class="col-lg-3 left-footer text-center">
                                          <a>Max Kuznetsov</a>
                                          </div>
                                        <div class="col-lg-3 offset-lg-6 right-footer text-center">
                                          <a>blablabla@mail.ru</a>
                                            <a class="github">github.com/exactor96</a>
                                            <div class="social">
                                              <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                                              <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                                              <i class="fa fa-vk fa-2x" aria-hidden="true"></i>
                                              <i class="fa fa-telegram fa-2x" aria-hidden="true"></i>
                                            </div>
                                          </div>
                                      </div>
                                    </div>
                                    </footer>

</body>
</html>