<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <header>
  <div class="container header-bgi">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Max Kuznetsov</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Our mission</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/roadmap">Roadmap</a>
              </li>
           
          </ul>
        </div>
      </nav>
    </div>
  </header>


 <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 main-local">
            <div class="col-lg-10 main-local-content"> 
              <h2 class="main-title">Lorem ipsum dolor sit amet consectetur</h2>
              <span id="typed" class="main-text" ></span>
              <div class="button">
                <button type="button" class="btn btn-primary">Read more...</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div class="advantage">
    <div class="container advantage-bg">
      <div class="row carousel">
          <div class="advantage-card">
            <div class="card" style="width: 14rem; background: linear-gradient(45deg,#2c165e, #910067);">
              <i class="fa fa-bluetooth fa-5x awesome-icons" aria-hidden="true"></i>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
        
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

          <div class="advantage-card">
            <div class="card" style="width: 14rem; background: linear-gradient(45deg,#2c165e, #910067);">
              <i class="fa fa-rss fa-5x awesome-icons" aria-hidden="true"></i>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

          <div class="advantage-card">
            <div class="card" style="width: 14rem; background: linear-gradient(45deg,#2c165e, #910067);">
              <i class="fa fa-desktop fa-5x awesome-icons" aria-hidden="true"></i>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

          <div class="advantage-card">
            <div class="card" style="width: 14rem; background: linear-gradient(45deg,#2c165e, #910067);">
              <i class="fa fa-folder fa-5x awesome-icons" aria-hidden="true"></i>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


<div class="details">
  <div class="container ">
    <div class="row">

      <div class="col-lg-6 details-left-content text-center ">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget scelerisque massa. Quisque dolor nibh, tempus nec odio sed, eleifend fermentum metus. Proin commodo in neque sit amet fermentum. Nullam a eros et enim molestie malesuada. Phasellus ut maximus urna. Suspendisse potenti. Ut convallis fringilla quam, aliquet vulputate libero blandit sit amet. Ut nec ex mi. Curabitur dictum quam quam, nec tincidunt libero auctor et. semper fringilla.
        </p>
      </div>
      <div class="col-lg-6 details-right-content">
      </div>

    </div>
  </div>
</div> 

<div class="continue">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 continue-left-content">
      </div>
      <div class="col-lg-6 continue-right-content text-center">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget scelerisque massa. Quisque dolor nibh, tempus nec odio sed, eleifend fermentum metus. Proin commodo in neque sit amet fermentum. Nullam a eros et enim molestie malesuada. Phasellus ut maximus urna. Suspendisse potenti. Ut convallis fringilla quam, aliquet vulputate libero blandit sit amet. Ut nec ex mi. Curabitur dictum quam quam, nec tincidunt libero auctor et. 
        </p>
      </div>
    </div>
  </div>
</div> 

<footer>
<div class="container footer-bg">
  <div class="row">
    <div class="col-lg-3 left-footer text-center">
      <a>Max Kuznetsov</a>
      </div>
    <div class="col-lg-3 offset-lg-6 right-footer text-center">
      <a>blablabla@mail.ru</a>
        <a class="github">github.com/exactor96</a>
        <div class="social">
          <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
          <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          <i class="fa fa-vk fa-2x" aria-hidden="true"></i>
          <i class="fa fa-telegram fa-2x" aria-hidden="true"></i>
        </div>
      </div>
  </div>
</div>
</footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../static/js/index.js"></script>
    <script>
    $('.carousel').slick({
      slidesToShow: 3,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2500,
  prevArrow: '<i class="prev arrow fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>',
  nextArrow: '<i class="next arrow fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i>'
});

jQuery(document).ready(function(){
  var typed = new Typed('#typed', {
  // Waits 1000ms after typing "First"
  strings: ["Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, tenetur. Dolor minima\n  libero est ipsum delectus in accusamus, ducimus ad vel quaerat fuga perspiciatis. Beatae\n exercitationem temporibus itaque dolorum explicabo."],
  typeSpeed:50,
  startDelay: 0,
  loop:false,
  loopCount: false,
  showCursor: true,
  cursorChar: "█",
});
});


    </script>
</body>
</html>